$logo : '/manilateam/2013LP/newtemplate/images/logo.png';
$shadow : '/manilateam/2013LP/newtemplate/images/shadow.png';
$button-bg : '/manilateam/2013LP/newtemplate/images/buttonbg.png';
$hover-signup : '/manilateam/2013LP/newtemplate/images/hover_sing_up.png';
$office : '/manilateam/2013LP/newtemplate/images/office.png';
$check : '/manilateam/2013LP/newtemplate/images/check.png';
$form-bg : '/manilateam/2013LP/newtemplate/images/formbg.png';
$black-button-bg : '/manilateam/2013LP/newtemplate/images/blackbuttonbg.png';
$black-button-hover : '/manilateam/2013LP/newtemplate/images/blackbuttonhover.png';
$select : '/manilateam/2013LP/newtemplate/images/select.gif';
$footer-logos : '/manilateam/2013LP/newtemplate/images/footer_logos.png';
$png : '/manilateam/2013LP/newtemplate/images/png.png';
$pie : '/manilateam/2013LP/newtemplate/ie-css/PIE.htc';