$logo : '../images/logo.png';
$shadow : '../images/shadow.png';
$button-bg : '../images/button-bg.png';
$hover-signup : '../images/hover_sing_up.png';
$office : '../images/office.png';
$check : '../images/check.png';
$form-bg : '../images/form-bg.png';
$black-button-bg : '../images/black-button-bg.png';
$black-button-hover : '../images/black-button-hover.png';
$select : '../images/select.gif';
$footer-logos : '../images/footer_logos.png';
$png : '../images/png.png';
$pie : 'ie-css/PIE.htc';