@mixin replacetxt($x, $y){
	width:$x;
	height:$y;
	background-repeat:no-repeat;
	text-indent:-99999px;
	display:block;
}

@mixin bg($x, $y) {
	width:$x;
	height:$y;
	background-repeat:no-repeat;
	display:block;
}