// Your custom settings file to override Foundation defaults
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";
@import "mymixin";
@import "assets";

// ----------------------------------------
// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "compass/css3";
// @import "foundation/settings";
// @import "foundation/functions/all";

// Control which mixins you have access too

// @import "foundation/mixins/clearfix";
// @import "foundation/mixins/css-triangle";
// @import "foundation/mixins/font-size";

// Must include next two for semantic grid to work

// @import "foundation/mixins/respond-to";
// @import "foundation/mixins/semantic-grid";

// @import "modular-scale";
// @import "foundation/common/globals";

// Must include the grid for any responsiveness

// @import "foundation/components/grid";

// Control which common styles get compiled

// @import "foundation/common/typography";
// @import "foundation/common/forms";

// Control which components you get if customizing

// @import "foundation/components/modules/buttons";
// @import "foundation/components/modules/tabs";
// @import "foundation/components/modules/ui";
// @import "foundation/components/modules/topbar";
// @import "foundation/components/modules/navbar";
// @import "foundation/components/modules/orbit";
// @import "foundation/components/modules/reveal";
// @import "foundation/components/modules/offcanvas";

// Media Queries Overrides
// @import "foundation/components/modules/mqueries";

section, figure, footer, header, article, dl, dd {
	display: block;
}
body {
	font-family:  'Lato',Helvetica,Arial,sans-serif !important;
}

.bg_video {
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
	background: none repeat fixed left top #000000;
	height: 100%;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	z-index: 100;
	display: none;
}
.video_pop_up_hp {
	display: none;
	position:absolute;
	z-index: 10000;
	top: 15%;
	left: 200px;
}
.insert_video_pop {
		width: 640px;
		display: none;

		#ytplayer {
			height: 390px;
			width: 640px;
		}
}
.close_video {
	position: absolute;
	top: -20px;
	right: 0px;
	font-size: 14px;
	font-family: 'Lato',Helvetica,Arial,sans-serif;
	color: #fff;
	text-decoration: none;
	padding-right: 10px;
	z-index: 1;
	cursor: pointer;

	&:hover {
		color: #fff;
	}
}
.tabs dd a {
				color: #c5c5c5;
				font-weight: bold;
}	
.clear {
	clear: both;
}
.divider {
	margin: 15px 0px;
}
.header-wrapper {
		position: relative;
		text-align: left;
		z-index: 13;

		header {
			height: 100px;
			position: relative;
			top: 0px;
			width: 100%;
			background: url($shadow) no-repeat;
			background-position: left bottom;
		}
	}
	.logo {
		@include replacetxt(242px,37px);
		background: url($logo);
		margin-top: 38px;
		margin-bottom: 11px;
		float: left;
		position: absolute;
		left: 28px;
	}

	#container {
		display: block;
		#main {
				margin: auto;
				margin-top: 25px;
				margin-bottom: 30px;
				overflow: hidden;
				border: 1px solid white;

			.banner-wrapper {
				@include border-radius(7px);
				behavior: url($pie);
				background-color: #f2f2f2;
				min-height: 400px;
				padding-top: 23px;
				position: relative;
				clear: both;
				padding: 0 4%;

					#left-content {
						float: left;
						width: 58.33333%;
						padding: 0 15px;
						p {
							font-size: 13px;
							color: #f8981d;
							font-weight: bolder;
							margin-bottom: 0;
							text-align: left;
							padding-left: 20px;
							padding: 20px 0px 0px 20px

						}
						  h1 {
							color: #5d6067;
							font-size: 50px;
							font-weight: 200;
							line-height: 50px;
							margin-top: 0px;
							letter-spacing: -1px;
							margin-bottom: .5em;
							text-align: left;
							padding: 17px 0 0 19px;
							font-family:  'Lato',Helvetica,Arial,sans-serif !important;

							span {
								color: #f8981d;
								text-align: left;
							}
						}
						.button {
							border: none;
							font-size: 22px;
							font-weight: bold;
							line-height: 16px;
							height: 52px !important;
							margin-bottom: 10px;
							margin-left: 20px;
							box-shadow: 0 0 3px 2px #AAAAAA;
							@include border-radius(5px);
							behavior: url($pie);
							background: url($button-bg) repeat-x;
							

							 &:hover, button:hover {
								background: url($hover-signup) no-repeat center !important;

								-webkit-transition: none !important;
								 -moz-transition: none !important;
								 -o-transition: none !important;
								 transition: none !important;
								 background-color: #E38214 !important;
							}

							input[type="submit"] {
								@include border-radius(5px);
								behavior: url($pie);
							}

							span {
								font-size: 10px;
								font-weight: normal;
								margin-top: 5px;
								
								text-align: center;
								margin-left: 0px;
							}
						}
					}
					#right-content {
						float: right;
						@include column(4);
						margin-left: auto;
						margin-right: auto;
						height: 376px;
						width: 370px;
						background: url($office) no-repeat center ;

					}
			}
				
			}
			#middle {
				position: relative;
				color: #666666;
			
				section {
					margin-bottom: 20px;
					margin-top: 5px;
					h2 {
						font-weight: normal;
						border-bottom: 0px;
						font-size: 28px;
						margin: 0px 0px 20px 0px;
						padding: 0px;
						text-align: left;
						color: #666666;
					}
					p {
						width: 80%;
						text-align: left;
						font-size: 17px;
						line-height: 20px;
						height: auto;
					}
					a {
						color: #F58A0D;
						cursor: pointer;
					}

					#desc {
						list-style-image: url($check);
						margin-left: 20px;
					}
					#price {
						font-size: 16px;
						display: inline-block;
						margin-left: 20px;
						color: #333;

					}
				}
		}


		#comp-description {
			padding-top: 46px;
			//position: relative;
			clear: both;
			display: inline-block;

			section {
				@include background-image(linear-gradient(rgba(255,255,255,1), rgba(226,226,226,1)));
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff , endColorstr=#e2e2e2);    
    			-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#e8e9ed)";
				border: 1px solid #dddddd;
				margin-bottom: 15px;
				width: 32.3333%;
				margin: 4px;
				min-height: 280px;

				.title {
					font-size: 18px;
					margin-top:	20px;
				}
				a {
					position: absolute;
					bottom: 10px;
					right: 10px;
					text-decoration: none;
					color: #f8981d;
					font-size: 14px;

				}
				.from {
  					margin-top: 30px;
  					display: block;
  			}	}
		}

	}

	#nav {
			    
			    border-top: 1px solid #999;
			    border-right: 1px solid #999;
			    border-left: 1px solid #999;
			    border-bottom: 1px solid #999;
			    width: 94%;

			}
			ul#nav {
			  padding: 0;
			 //border-bottom: 1px solid #dddddd;
			}
			#nav li {
			  list-style: none; 
			}
			#nav li a {
			    display: block;
			    padding: 5px 10px;
			    
			    border-top: 1px solid #DDDDDD;
			    border-left: 1px solid #dddddd;
			    border-right: 1px solid #dddddd;
			    border-bottom: 1px solid #dddddd;
			    text-decoration: none;
			    color: #DDD;
			}
			#nav li a:hover, #nav li a.active {
			   border-top: 2px solid #ED910A;
			   border-bottom: 2px solid #FFF;
			   color: #444;
			}
			#nav section {
			  display: none; /* I NEED TO FIX THIS */
			  float: left;
			   
			    overflow: hidden; 
			  padding: 1% 3% 0 3%; 

			  a {
			  	color: #ED910A !important;
			  	border: none;

			  	&:hover {
			  		border: none;
			  	}
			  }
			}
			.no-js #nav section {
			  display: block; /* I NEED TO FIX THIS */
			}
			#nav li ul li a {
			    padding: 10px 25px;
			    border-bottom: 1px dotted #ccc;
			}
	#article-wrapper {
			color: #797979;
			padding-top: 10px;
			text-align: justify;
			padding: 30px 0px;
			border: none;
			border-bottom: 1px solid #DDD;
			height: 66px;
			

			
			.tabs {
				height: 30px !important;

				 dd {
					cursor: pointer;
					height: 30px !important;
					border-left: 1px solid #DDDDDD;
					border-right: 1px solid #DDDDDD;
					border-top: 1px solid #DDDDDD;
					
					
					margin: 0 1px;

					a {
						height: 30px !important;
						line-height: 30px;
						padding: 0 10px;
						font-size: 12px;
						
					


					}
				}
			}
		
			ul.tabs-content {
				list-style-type: none;

				li {
					a {
						color: #f8981d;
					}
				}
				


			}
				 #simple2Tab, #simple3Tab {
				display: none;
			}

			dd.active {
				border-top: 2px solid #ED910A;
				
				border-bottom: 1px solid #fff;

				a {
					color: #666 !important;
				}
			}

			
		}

		
		#intro-via-mobile {

			.content{
				text-align: center;
			}
		}
	#signup-wrapper {
		margin-top: 50px;
	#SFForm {
			border: 1px solid #c7c8cd;
			padding-right: 0px;
			padding-left: 0px;
    		@include border-radius(8px);
    		behavior: url($pie);
    		overflow:hidden;
    		height: 400px;

    	#form-container {
    		min-height: 400px;
    		background: url($form-bg) repeat-x;

    		//filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff , endColorstr=#e8e9ed);    
    		//-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#e8e9ed)";

    	}
		.form {
			clear: both;

			#main-form {
				z-index: 2;
				position:relative;
				section {
					@include column(6);
					color: #a5afb5;

							

					input[type="text"] {
						color: #a5afb5;
						font-style: italic;
						outline: none;
						padding: 6px 4px;
						border: 1px solid #dcdcdc;
						background: #FFF;
						box-shadow: inset 0 0 3px #cccccc;
						@include border-radius(8px);
						behavior: url($pie);
						z-index: 2;
					}

					.submit {
						color: #FFF;
						font-weight: bold;
						box-shadow: 0 0 3px 2px #c6c7ca;
						border: none;
						min-width: 134px;
						height: 28px;
						padding: 6px;
						background: url($black-button-bg) repeat-x;
						@include border-radius(6px);
						behavior: url($pie);
						&:hover {
							background: url($black-button-hover) repeat-x;
							@include border-radius(6px);
							behavior: url($pie);
						}	
					}

					.select {
						background: url($select) no-repeat;
						height: 28px;
						position: relative;
						margin-bottom: 15px;
						z-index: 99;
						span {
							position: absolute;
						top: 0;
						left: 0;
						z-index: 2;
						padding: 9px;
						
						
						}
						select {
							border: none;
							background: none;
							height: 28px;
							opacity: 0;
							width: 340px;
							position: absolute;
							top: 0;
							left: 0;
							z-index: 99999;
							-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
						}
					}
				}
			}
			.txt {
				color: #797979;
				font-size: 16px;
				line-height: 22px;
				padding-bottom: 14px;
				padding-left: 20px;
			}
			.stitle {
				font-size: 42px;
				font-weight: 300;
				line-height: 42px;
				padding: 26px 0 0 20px;
				color: #444 !important;
				font-family:  'Lato',Helvetica,Arial,sans-serif !important;
			}
		}

	}
}
	#signup {

			padding-left: 45px;

			.button_signup {
				
				box-shadow: 0 0 3px 2px #AAAAAA;
				color: #FFFFFF;
				display: block;
				overflow: hidden;
				text-align: center;
				text-decoration: none;
				width: 178px;
				height: 52px;
				background: url($button-bg) repeat-x;
				margin-bottom: 10px;
				@include border-radius(5px);
				behavior: url($pie);

				&:hover {
					background: url($hover-signup) no-repeat center !important;
					-webkit-transition: none !important;
					 -moz-transition: none !important;
					 -o-transition: none !important;
					 transition: none !important;
					 background-color: #E38214 !important;
				}
			
			 p  {
				width: 175px;
				font-size: 22px;
				font-weight: bold;
				line-height: 16px;
				margin-top: 8px;
				visibility: visible;
				padding-left: 0px;
				text-transform: none;	

				span {
					font-size: 10px;
					font-weight: normal;
					position: relative;
					float: left;
					margin-top: 5px;
					margin-left: 45px;
				}	
			}
			}

			.view_demo_button {
				background: url($black-button-bg) repeat-x;
				width: 178px;
				padding: 8px 0 5px 0px;
				@include border-radius(6px);
				behavior: url($pie);
				box-shadow: 0 0 3px 2px #AAAAAA;
				height: 30px;
				display: block;
				overflow: hidden;
				text-align: center;
				text-decoration: none;
				
				a {
					color: #FFFFFF;
				}

				&:hover {
						background: url($black-button-hover) repeat-x;
					}
			}
			.question {
				width: 178px;
				color: #797979;
				font-size: 21px;
				overflow: hidden;
				clear: both;
				line-height: 24px;
				padding-top: 14px;

				span {
					color: #ff9933;
				}
			}
		}

.footer-wrap {
	background: #c1c4cb;
	padding-bottom: 40px;
	padding-top: 10px;
	font-size: 12px;

	.logos {
		border-bottom: 1px dashed #666666;
		margin: 10px 0px 10px 0px;
		margin-left: -495px;
		left: 50%;
		position: relative;
		float: left;
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 30px;
		.title {
			padding-top: 0px;
			color: #5D6067;
			text-align: left;
			font-weight: bold;
			margin-bottom: 5px;
		}
		section {

		}
		.asseen {
			@include column(8);
			padding-bottom: 20px;
			padding-left: 0px;
			.logs {
				@include bg(621px,23px);
				background: url($footer-logos) no-repeat;
				float: left;

			}
		}
		.partners {
			@include column(4);
			border-left: 1px solid #888;
			padding-left: 50px;
			#partner-logo {
			
			@include bg(100%,28px);
				background: url($png) no-repeat;
				float: right;
			}
		}
	}
	.bottom-menu {
			padding-top: 20px;
			position: relative;
			top: 19px;
		.copy {
			@include column(7);
			font-size: 13px;
			color: #5D6067;
			padding-left: 10px;
			float: left;
		}

		.botmenu {
			@include column(5);
			ul {
				
				float: right;

			 	li {
			 		font-size: 13px;
					color: #5D6067;
					float:left;
					list-style: none;
					padding: 5px;

					a {
						color: #5D6067;
					}
			 	}
			}
		}
	}
}






@media only screen and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
	.video_pop_up_hp {
		top: 32% ;
		left: 180px ;
	}
	.insert_video_pop {
		width: 450px;

		#ytplayer {
			height: 300px;
			width: 450px;
		}
	}
  #left-content, #right-content {
  	width: 100% !important;
  	text-align: center !important;
  	padding: 0px;
  		 h1, p {
  		 	text-align: center !important;
  		 }
  }
  #comp-description section {
  	height: 300px !important;
  }
  #comp-description section .title {
  	margin-top: 10px !important;
  	font-size: 17px !important;

  }
  .content {
  	margin-bottom: 40px;

  }
  #signup-wrapper, .logos, #signup { 
  	display: none;
  }

  .accordion {
  	display: none;
  }

#article-wrapper {
  	

	  	 ul {
	  	 	padding: 0px 20px;
	  	 }
	  	 .tabs dd a {
	  	 	
	  	 	font-size: 16px;
		}
	}
  .copy, .botmenu {
  	width: 100% !important;
  	display: block;
  	text-align: center;
  }
  .botmenu ul {
  	width: 330px !important;
  	margin-left: 210px;
  	float: none !important;

  }

}


@media only screen and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
  .video_pop_up_hp {
		top: 26% ;
		left: 160px;
		display: block;
	}

 #signup-wrapper, .logos, #signup { 
  	display: none 
  }
  #article-wrapper {

  	 ul {
  	 	padding: 0px 20px;
  	 }
  }
}




@media only screen and (min-device-width : 480px) and (max-device-width : 640px) and (orientation:portrait) {
	.video_pop_up_hp {
		top: 25% ;
		left: 80px;
	}
	.insert_video_pop {
		width: 450px;
		display: block !important;

		#ytplayer {
			height: 300px;
			width: 450px;
		}
	}
	 #left-content, #right-content {
	  	width: 100% !important;
	  	text-align: center !important;
	  	padding: 0px;
	  	float: none !important;
  		 h1, p {
  		 	text-align: center !important;
  		 }
  		 .button {
  		 	width: 193px;
  		 	margin-left: 150px !important;
  		 }
 	 }
 	 #middle {

 	 	#desc {
 	 		
 	 		width: 200px !important;
 	 		margin-left: 180px !important;
 	 	}
 	 }
 	
 	  #comp-description 
	 {
	 	section {
	 		margin-bottom: 10px !important;
	 		height: 300px !important;

	 	}
	
	}
	#article-wrapper {
		height: auto;
		padding: 20px 5px;
		border-bottom: none;
	}
	#nav {width: 100%; position: relative; border: none; display:block; }
    #nav li { display: inline; }
    #nav li a { display: inline-block; width: 99.59%; }  
    #nav section { padding: 1%; top: 42px; left: 0;}
 	  #signup-wrapper, .logos, #signup { 
  		display: none;
  	}
	 #middle {
  		
  		section, h2, p {		
  			text-align: center !important;
  			width: 100% !important;
  		}
	
  	}
  	
  	
  	 .copy  {
  			width: 100% !important;
  			text-align: center !important;
	}
	.botmenu ul  {
		width: 330px !important;
		margin-right: auto;
		margin-left: auto;
		float: none !important;
	}
}





@media only screen and (min-width : 480px) and (max-width : 1000px) and (orientation:landscape) {
	.video_pop_up_hp {
		top: 32%;
		left: 270px;
	}
	.insert_video_pop {
		width: 450px;
		//display: none;

		#ytplayer {
			height: 300px;
			width: 450px;
		}
	}
   #left-content, #right-content {
	  	width: 100% !important;
	  	text-align: center !important;
	  	padding: 0px;
	  	float: none !important;
  		 h1, p {
  		 	text-align: center !important;
  		 }


 	 }
 	
 	  #comp-description 
	 {
	 	section {
	 		margin-bottom: 10px !important;
	 		height: 300px !important;
	 	}
	
	}
	#article-wrapper {

  	 ul {
  	 	padding: 0px 20px;
  	 }
  	 .tabs dd a {
  	 	
  	 	font-size: 16px;
	}
  	 
  	}
 	  #signup-wrapper, .logos, #signup { 
  		display: none 
  	}
  	 
  	 .copy, .botmenu  {
  			width: 50%;

	}
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

	.video_pop_up_hp {
		top: 17% !important;
		left: 40px !important;
		display: block;
	}
	.insert_video_pop {
		width: 250px;

		#ytplayer {
			height: 200px;
			width: 250px;
		}
	}


	.banner-wrapper {
		min-height: 260px !important;
	}
	#left-content {

		width: 100% !important;
  		text-align: center !important;
  		padding-left: 0 !important;

  		h1 {
		font-size: 30px !important;
		line-height: 30px !important;
		text-align: center;

	}

	} 
	#right-content {
		display: none;
	}
	 #comp-description 
	 {
	 	section {
	 		margin-bottom: 10px !important;
	 	}
	
	}

	#trust {
		img {
			
  			float: left;
		}
		article {
  			width: 70% !important;
  			float: right;
  		}
  		.from {
  			margin-top: 30px !important;
  			display: inline-block !important;
  		}
  	}
  	#article-wrapper {
  		padding: 20px 5px;
  		border-bottom: none;
  		height: auto;
  	}
  	 #nav {width: 100%; position: relative; border: none; display:block; }
    #nav li { display: inline; }
    #nav li a {display: inline-block; width: 99%; }  
    #nav section { padding: 1%; top: 42px; left: 0; margin-bottom: 30px;   }
	 #signup-wrapper, .logos, #signup { 
  		display: none 
  	}

  	#middle {
  		
  		section, h2, p {		
  			text-align: center !important;
  			width: 100% !important;
  		}


  		
  	}

  	.copy  {
  		width: 100% !important;
  		text-align: center !important;
  		float: none;
  		
  		
	}
	 .botmenu ul {	
	 	width: 100%;
	 	text-align: center;
	 
	 	a {
	 		font-size: 10px !important;
	 	}
	 }
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) and (orientation: landscape) {
	#left-content .button {
  		 	width: 193px;
  		 	margin-left: 110px !important;
  	}

	.botmenu ul {
	 	padding-left: 90px !important;
	 }
	 #middle {

 	 	#desc {
 	 		margin-left: 110px !important;
 	 		width: 200px !important;
 	 		
 	 	}
 	 }
 	 .video_pop_up_hp {
		top: 18% !important;
		left: 120px !important;
		display: block;
	}
}

@media only screen and (min-width: 30em) { 
    #nav {width: 100%; position: relative; border: none; display:block; }
    #nav li { display: inline; }
    #nav li a {display: inline-block; }  
    #nav section { padding: 2%; top: 42px; left: 0; margin-bottom: 30px;   }
    
}